<footer class="container">
  <div class="container__logo">
    <p>CSS</p>
    <p>is</p>
    <p>awesome</p>
  </div>
  <div class="container__company">
    <h3>nabthat</h3>
  </div>
  <div class="container__btn">
    <button (click)="toggleArrowRotation()" class="btn">
      <span>Pokaż</span>
      <span class="btn__arrow" [ngClass]="{'btn__arrow--rotated': isArrowRotated}"></span>
    </button>
  </div>
  <div class="container__slide-frame" [ngClass]="{'container__slide-frame--shown': isArrowRotated}">
    <button class="btn">
      <span class="btn__arrow btn__arrow--rotate"></span>
      <span (click)="togglePersonalDataVisibility(true, true)">Zresetuj ustawienia</span>
    </button>
    <button class="btn">
      <span class="btn__arrow btn__arrow--rotate"></span>
      <span (click)="togglePersonalDataVisibility(false)">Pokaż dane osobowe</span>
    </button>
  </div>
</footer>
